<footer class="footer">
  <div class="container has-text-centered">
    <div class="level">
      <div class="level-item">
        <figure class="image is-48x48">
          <img
            src="https://bulma.dev/placeholder/pictures/bg_square.svg?primary=00d1b2"
            alt=""
          />
        </figure>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <h2 class="title is-4">
          <a href="#"
            ><img src="images/cover.png" alt="Pied Piper" width="100"
          /></a>
        </h2>
        <app-language-picker></app-language-picker>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="level">
          <a class="level-item" href="#">Features</a
          ><a class="level-item" href="#">Enterprise</a
          ><a class="level-item" href="#">Support</a
          ><a class="level-item" href="#">ICO</a>
        </div>
      </div>
    </div>
  </div>
</footer>
