<!-- <p>organization page</p> -->
<p-button
  type="button"
  routerLink="create"
  i18n-label="@@createOrganization"
  label="Create an Organization"
></p-button>
<div *ngIf="organizations$ | async as organizations; else loading">
  <div *ngFor="let organization of organizations">
    <p-card [header]="organization.name">
      <p-panel i18n-header="@@basicInformation" header="Basic information">
        <div class="p-grid">
          <div i18n="@@organizationName" class="p-col-4">
            Organization Name:
          </div>
          <div class="p-col-8">{{ organization.name }}</div>
          <div i18n="@@email" class="p-col-4">
            Email:
          </div>
          <div class="p-col-8">{{ organization.email }}</div>
          <div i18n="@@address" class="p-col-4">
            Address first line:
          </div>
          <div class="p-col-8">{{ organization.address1 }}</div>
          <div i18n="@@address2" class="p-col-4">
            Address second line:
          </div>
          <div class="p-col-8">{{ organization.address2 }}</div>
        </div>
        <p i18n="@@members">Members:</p>
        <p-table [value]="organization.members">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-member>
            <tr>
              <td>{{ member.displayName }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.role }}</td>
              <td>{{ member.status }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </p-card>
  </div>
</div>
<ng-template i18n="@@loading" #loading>
  Loading...
</ng-template>

<!-- <p-autoComplete
  [(ngModel)]="selected"
  [suggestions]="results"
  [multiple]="true"
  emptyMessage="No value found"
  (completeMethod)="search($event)"
></p-autoComplete>
Selektovani: {{ selected && selected.toString() }} -->
