<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">
        Testiraj magiju komunikacije, ovo su dokumenta koja čekaju odgovor:
      </h1>
      <label
        >vrednost za slanje:
        <input [(ngModel)]="retVal" type="text" />
        <p>{{ retVal }}</p>
      </label>
      <table class="table">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>dugmence</th>
        </thead>
        <tbody>
          <tr *ngFor="let doc of pendingDocuments$ | async">
            <td>{{ doc.id }}</td>
            <td>{{ doc.name }}</td>
            <td><button (click)="sendData(doc.id)">Pošalji</button></td>
          </tr>
        </tbody>
      </table>
      <!-- <button (click)="testConnector()">Nakači se na konektor!</button>
      <button (click)="testPing()">Testiraj Ping</button>
      <button (click)="terminateConnector()">Ubij konekciju</button> -->
      <!-- <h2 class="subtitle">
        Decentralized, secure, private. The PiperNet is on it's way to
        revolutionize every smartphone, PC, and smart-fridge near you.
      </h2>
      <div class="buttons is-centered">
        <a class="control button is-primary" href="#">Sign up for free</a
        ><a class="control button is-light" href="#">Read more</a>
      </div>-->
    </div>
  </div>
</section>

<section class="section" style="margin-top: 250px;">
  <div class="container">
    <h2 class="title has-text-centered">PiperNet Setup</h2>
    <div class="columns">
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img
                src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2"
                alt=""
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h2 class="title is-1">1</h2>
            </div>
          </div>
        </div>
        <h4 class="title is-4">Move Data</h4>
        <p>
          Using our Piper Assistant application, you can move your data to be
          stored our decentralized network with simple drag & drop.
        </p>
      </div>
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img
                src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2"
                alt=""
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h2 class="title is-1">2</h2>
            </div>
          </div>
        </div>
        <h4 class="title is-4">Integrate Software</h4>
        <p>
          We want to make sure that you can keep using the software that you use
          to manage your business.
        </p>
      </div>
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img
                src="https://bulma.dev/placeholder/pictures/image.svg?primary=00d1b2"
                alt=""
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h2 class="title is-1">3</h2>
            </div>
          </div>
        </div>
        <h4 class="title is-4">Ongoing Support</h4>
        <p>
          As with all innovative technologies, sometimes unpredictable things
          will happen, and you can always count on our support to solve issues
          for you.
        </p>
      </div>
    </div>
    <div class="buttons is-centered">
      <a class="button is-primary" href="#">Start Setup!</a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">Frequently Asked Questions</h2>
    <div class="columns is-multiline">
      <div class="column is-6">
        <h3 class="title is-4">
          How is a decentralized network different from the traditional web?
        </h3>
        <p>
          Decentralization is a key aspect of PiperNet. Traditionally, to access
          data on a website, you needed to connect to a single server containing
          that data. This method of storing data makes it easy for third parties
          to get access to it, corrupt it or even delete it. In PiperNet it is
          securely stored on multiple devices in the network, which makes it
          harder to hack and interfere with your data.
        </p>
      </div>
      <div class="column is-6">
        <h3 class="title is-4">
          Why shouldn't I just store my data on a Hooli Box?
        </h3>
        <p>
          That's just the thing - if you store your data in a single place, like
          Gavin Belsons' poorly-made server box, your data will very susceptible
          to hacking. Whereas on PiperNet, your data is safe with many copies to
          back it up from.
        </p>
      </div>
      <div class="column is-6">
        <h3 class="title is-4">What makes PiperNet so safe?</h3>
        <p>
          Our proprietary middle-out compression algorithm allows data to flow
          so fast that it can't be hacked! But, in all seriousness, the
          algorithm helps but it's the public, immutable ledger that makes it
          secure. This enables PiperNet users to exchange data without risk of
          it being intercepted by third parties.
        </p>
      </div>
      <div class="column is-6">
        <h3 class="title is-4">
          How long does it take to get a company up and running on PiperNet?
        </h3>
        <p>
          Access to the public network is granted within a day, but moving all
          your data and integrating your existing software depends on how big
          your company is. Startups can expect to be fully online within a week,
          enterprises can take up to a month due to large reliance on legacy
          systems and huge datasets.
        </p>
      </div>
      <div class="column is-6">
        <h3 class="title is-4">
          Why shouldn't I just store my data on a Hooli Box?
        </h3>
        <p>
          That's just the thing - if you store your data in a single place, like
          Gavin Belsons' poorly-made server box, your data will very susceptible
          to hacking. Whereas on PiperNet, your data is safe with many copies to
          back it up from.
        </p>
      </div>
      <div class="column is-6">
        <h3 class="title is-4">
          How is a decentralized network different from the traditional web?
        </h3>
        <p>
          Decentralization is a key aspect of PiperNet. Traditionally, to access
          data on a website, you needed to connect to a single server containing
          that data. This method of storing data makes it easy for third parties
          to get access to it, corrupt it or even delete it. In PiperNet it is
          securely stored on multiple devices in the network, which makes it
          harder to hack and interfere with your data.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">Contact the Pied Piper team</h2>
    <div class="columns is-centered">
      <div class="column is-8">
        <form>
          <div class="field is-grouped">
            <div class="control is-expanded">
              <input class="input" type="email" placeholder="Email" />
            </div>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select>
                  <option disabled selected>Select product</option>
                  <option>Product 1</option>
                  <option>Product 2</option>
                  <option>Product 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea
                class="textarea"
                rows="5"
                placeholder="Write something..."
              ></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control has-text-centered">
              <button class="button is-primary" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-12 is-8-fullhd">
        <div class="level">
          <div class="level-item">
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24">
                  <img src="placeholder/icons/map-marker.svg" alt="" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>Pied Piper HQ - 59 Silicon Av.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="level-item">
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24">
                  <img src="placeholder/icons/phone.svg" alt="" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>555-333-555</p>
                </div>
              </div>
            </div>
          </div>
          <div class="level-item">
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24">
                  <img src="placeholder/icons/envelope.svg" alt="" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>pay-the-piper@piedpiper.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
